<%- include("partials/head"); -%>
<h1><%= post.title %></h1>
    <p><%= post.content %></p>
    
    <a href="/edit/<%= post.id %>">Edit Post</a>
    <a href="/delete/<%= post.id %>">Delete Post</a>
    <%- include("partials/footer"); -%>